set byte-oriented off
set convert-meta off
set input-meta on
set kanji-code sjis
set mark-symlinked-directories on
set output-meta on
set show-all-if-ambiguous on
set visible-stats on
DEL: delete-char
RUBOUT: backward-delete-char
"\e[3~": delete-char
$if mode=emacs
#set convert-meta on
## following 2 lines cause an unexpected action with inputting 0x84 and 0x90 char.
#C-M-p: previous-history
#C-M-n: next-history
C-u: universal-argument
C-g: kill-whole-line
C-l: possible-filename-completions
"\ep": history-search-backward
"\en": history-search-forward
#"\M-p": history-search-backward
#"\M-n": history-search-forward
$endif
#C-g: dump-functions
